*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 72px;
}

.options {
    background-color: rgba(116, 122, 122, 0.416);
    border-radius: 10px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 99%;
    margin-left: 12px;
}
